body{
    background-color: #98fb98;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 0px 5px 0px 5px;
    margin-bottom: 0px;

}
.user_container > form{
    align-items: stretch;
    display: inline-block;
    position: relative;
    right: 250px;
}
.user_container{
    background-color: #3e8e41;
}
textarea{
    resize: None;
}

#search_button {
    float:left:
}


.dropbtn {
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #3e8e41;
    border-radius: 10px;
    width: auto;
    padding: 10px 18px;
}

.dropdown {
    position: relative;
    left: 250px;
    display: inline-block;
}

.top_buttons {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
}

.top_buttons a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.top_buttons a:hover {background-color: #f1f1f1}

.dropdown:hover .top_buttons {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  #FD5762;
}










.page_content{
    max-width: 900px;
    margin: auto;
    border: 3px solid #f1f1f1;
    box-sizing: border-box;
}

h1 {
    font-size: 144px;
    margin: 36px 72px 36px 72px;
    text-shadow: 2px 2px 8px #FF0000;
    padding: 0,3em 0,1em 0,3em 0,1em;
    background-color: #FD5762;
    border-radius: 25px;

}

.top_buttons{
    text-align: right;

}

.user{
    width: auto;
    padding: 10px 18px;
    background-color: #3e8e41;
    border: none;
    color: #edf5e1;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;


}

.user:hover {
    background-color:  #FD5762;
    
}

#search_input{
    position: relative;
    top:3px;
}
#search_button{
    background: #3e8e41;
    position:relative;
    bottom: 3px;
    right: 5px;
    border:none;

}

#search_button:hover{

    background-color:  #FD5762;
}


.flexbox{
    display: flex;
    justify-content: center;
}

.flexbox > div {
    text-decoration: underline;
    text-shadow: 1px 1px #05386B;
    align-content: center;
    background-color: #black;
    margin: 3px 10px 3px 10px;
    font-size: 24px;
  }

#message{
    font-size: 18px;
    margin-bottom: 0px;

}

.flexbox2{
    display: flex;
    justify-content: center;
}

.flexbox2 > div {
    align-content: center;
    background-color: #black;
    margin: 3px 10px 3px 10px;
    font-size: 12px;
  }

.block{
    margin: 30px 0px 30px 0px;

}

.vote_buttons{
    background: #3e8e41;
    position:relative;
    bottom: 3px;
    right: 5px;
    border:none;

}

.vote_buttons:hover{

    background-color:  #FD5762;
}