<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style_display.css">

    <title>Ask</title>
</head>

<body>
    <h1>{{title}}</h1>
    <div class="flexbox_tags">
        <div>Tags:</div>
        <div>
            {% for dictio in tags %} {{ ' -' + dictio.name + '- ' }} {% endfor %}
        </div>
        <div>
            <a href='/question/{{ question_id }}/new_tag'>Add tag</a>
        </div>
    </div>

    <h3>{{ message }}</h3>

    <div class="question_comments">
        <h3>Comments to question:</h3>

        {% for comment in comment_dict_sorted_by_time %} {% if question_id == comment.question_id %} {{comment.submission_time}}{{comment.message}}

        <a href='/comments/{{ comment.id }}/delete' name='delete_comment'>Delete!</a>

        <br>
        {% endif %} {% endfor %} {% if user_in_database == None %}

        <a id="myLinkNewComment2" href='/question/{{ question_id }}/new-comment' onclick="unlogged_prohibition();return false;">add comment to question</a>
        <br>

        <script type="text/javascript">
            function unlogged_prohibition() {
                alert("You have to log in to do this");
            }
        </script> {% else %}

        <a href='/question/{{ question_id }}/new-comment'>add comment to question</a>
        <br> {% endif%}

    </div>
    <div class="answers">
        <p>
            <h3>Answers:</h3>
        </p>
        <p></p>
        {% for dict in dict_table %} {% if dict.question_id == question_id %}
        <div id="answer">
            {{dict.message}} {% if dict.accepted == True %} -------accepted! {% endif%}
            <p id="inner_answer">Time: {{dict.submission_time}} Votes: {{dict.vote_number}}
            </p>
            <form action='/question/{{ question_id }}' method="POST">

                <button type="submit" name="UP" value="{{dict.id}}">UP</button>
                <button type="submit" name="DOWN" value="{{dict.id}}">DOWN</button>

                {% if user_in_database == user_id %}
                <a href='/answer/{{ dict.id }}/toggle_accepted'>Toggle accepted!</a>
                {% endif %}

                <a href='/answer/{{ dict.id }}/delete'>Delete!</a>
            </form>
        </div>
        <div id="comment">
            comments: {% for comment in comment_dict_sorted_by_time %} {% if dict.id == comment.answer_id %} {{ comment.message }}
            <a
                href='/comments/{{ comment.id }}/delete' name='delete_comment'>Delete!</a>
            <br> {% endif %} {% endfor %} {% if user_in_database == None %}

            <a id="myLinkNewComment" href='/answer/{{dict.id}}/new-comment' onclick="unlogged_prohibition();return false;">add comment to answer</a>
            <br>

            <script type="text/javascript">
                function unlogged_prohibition() {
                    alert("You have to log in to do this");
                }
            </script> {% else %}

            <a href='/answer/{{dict.id}}/new-comment'>add comment to answer</a>
            <br> {% endif%}
        </div>

        {% endif %} {% endfor %}
        <br> {% if user_in_database == None %}

        <a id="myLinkNewAnswer" href='/question/{{question_id}}/new_answer' onclick="unlogged_prohibition();return false;">Post an answer!</a>
        <br>

        <script type="text/javascript">
            function unlogged_prohibition() {
                alert("You have to log in to do this");
            }
        </script> {% else %}

        <a href='/question/{{question_id}}/new_answer'>Post an answer!</a>
        <br> {% endif%}
    </div>
    or
    <br>
    <p>
        <a href='/'>Back to main!</a>
    </p>
</body>
</html>