<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style_search.css"> 

        <title>Ask question</title>
    </head>
    <body>
        <h1>ask question</h1>  
        <form action="/new_question" method="POST">  
            <label for="question_input">Title:</label>  
            <p></p>
            <textarea id="question_input" name="question" rows="8" cols="80" maxlength="30"></textarea>
            <p></p>
            <label for="message_input">Message:</label>  
            <p></p>
            <textarea id="message_input" name="message" rows="8" cols="80" minlength="10"></textarea>
            <p></p>
            <label for="image_input">Image (link):</label>  
            <p></p>
            <textarea id="image_input" name="image" rows="1" cols="80" ></textarea>
            <p></p>
            <p><button type="submit" value="Submit">Submit</button></p>
            <p></p>
            <p>or</p>
            <p></p>
            <p><a href='/'>Back to main!</a></p>

        </form>
    </body>
</html>